:global(#app) {
  .revenueValue {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    color: #fff;
  }

  .revenueTitle {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    color: #fff;
  }

  .revenue {
    display: inline-block;
    vertical-align: top;
  }
}
